<!DOCTYPE html>
<html lang="en" style="height: 100%">
<head>
	<meta charset="utf-8">
	<meta name="viewport"    content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author"      content="Sergey Pozhilov (GetTemplate.com)">
	
	<title>Coming Soon html5 template by GetTemplate</title>

	<link rel="shortcut icon" href="assets/images/gt_favicon.png">
	<link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"> 
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700"> 
	<link rel="stylesheet" href="assets/css/styles.css">
</head>

<body style="height: 100%">

<div class="container" style="margin: 1em 0em 1em 3em; width: 100%;">
    <div class="row"> 
        <div class="col-lg-4">
            <a href="{$conf->action_root}index"><img src="{$conf->app_root}/assets/images/LOGO1.png" style="border-radius: 35px;" align="center"></a>
        </div>
        <div class="col-lg-4"></div>
            <div class="col-lg-4" align="center">
                {if count($conf->roles)>0}
                <a href="{$conf->action_root}logout"><button type="submit" class="btn btn-lg btn-outline-info">Wyloguj</button></a>
                <a href="{$conf->action_root}myprofile"><button type="submit" class="btn btn-lg btn-outline-info">{$logininfo}</button></a>
                {else}
                <a href="{$conf->action_root}login"><button type="submit" class="btn btn-lg btn-outline-info">Logowanie</button></a>
                <a href="{$conf->action_root}register"><button type="submit" class="btn btn-lg btn-outline-info">Rejestracja</button></a>
                {/if}
            </div>
    </div>
</div>
    
<header class="header">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-push-2 text-center">
				<h1>Firm wyszukiwarka</h1>
				<p class="lead">
					Znajdź firmę w naszej bazie danych
				</p>
				<form class="form-inline" role="form">
				<div class="form-group"><input type="text" class="form-control input-lg" name="name" id="name" placeholder="Nazwa"></div>
				<div class="form-group"><input type="text" class="form-control input-lg" name="field" id="field" placeholder="Branża"></div>
                                <div class="form-group"><input type="text" class="form-control input-lg" name="kod" id="kod" placeholder="Kod firmy"></div>  
                                <br>
                                <div class="form-group space-before"> <button type="submit" class="btn btn-lg btn-default">Szukaj</button> </div>
				</form>
                                {if count($conf->roles)>0}
				<p class="small text-muted" style="margin: 2em 1em 2em 1em">Jesteś zalogowany. Case sensitive. </p>
                                {else}
                                <p class="small text-muted" style="margin: 2em 1em 2em 1em">Musisz być zalogowany żeby widzieć firmy. Tylko właściciel widzi swoje prywatne firmy. </p>
                                {/if}
			</div>
		</div>
	</div>
</header>
<main class="content">
<div class="col-lg-4"></div>
{if count($conf->roles)>0}
<div class="col-lg-4" style="text-align: center; align: center;">
	<div class="bottom-margin" style="margin: 2%; text-align: center;">
            <p class="lead">Wyniki wyszukiwania: </p>
            <table id="tab_firmy" class="pure-table  pure-table-bordered" style="table-layout: fixed; width: 100%;">
        <thead>
	<tr>
		<th>Kod:</th>
		<th>Nazwa:</th>
                <th>Data założenia:</th>
		<th>Branża:</th>
		<th>Aktywna:</th>
	</tr>
        </thead>  
        <tbody>{foreach $firmylista as $fl}
        {strip}
	<tr> 
		<td>{$fl["FIRMA_ID"]}</td>
		<td>{$fl["FIRMA_NAME"]}</td>
                <td>{$fl["FIRMA_DZ"]}</td>
                <td>{$fl["FIRMA_FIELD"]}</td>
                <td>{if $fl["FIRMA_AKTYW"] == 0}tak{else}nie{/if}</td>
        </tr>
        {/strip}{/foreach}</tbody></table></div>
    
    {block name=messages}
            {if $msgs->isMessage()}
            <div class="messages bottom-margin" style="margin: 2%;">
                    <ul>
                    {foreach $msgs->getMessages() as $msg}
                    {strip}
                            <li class="msg {if $msg->isError()}error{/if} {if $msg->isWarning()}warning{/if} {if $msg->isInfo()}info{/if}">{$msg->text}</li>
                    {/strip}
                    {/foreach}
                    </ul><br>
            </div>
            {/if}
            {/block}
    
</div>
{else}
<section class="container space-before space-after">
    <div class="col-lg-4"></div>
	<div class="col-sm-10 col-sm-push-1">
	<h1 class="text-center">Wyniki dostępne po zalogowaniu</h1>
	<p class="lead text-center">
	Quo vadis domine?
	</p></div>
    </div>
</section>{/if}<div class="col-lg-4"></div>
        
<div class="fixed-bottom static default-color" style="position: fixed; height: 20px; bottom: 0; width: 100%; background-color: #ffcdc3">
    <p class="small text-muted text-center small">
        <i style="font-family:'Open sans'"><a href="{$conf->action_root}info">INFO</a> - STOPKA - PROJEKT OPARTY NA DARMOWYM WIDOKU Z WITRYNY <a href=" https://gettemplate.com/">GETTEMPLATE.COM</a> ORAZ PROJTKU Z WITRYNY <a href=" https://kudlacik.eu/">KUDLACIK.EU</a> - <a href="{$conf->action_root}info">INFO</a> </i>
    </p>
</div>
        
</main>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="assets/js/template.js"></script>

</body>
</html>