<!DOCTYPE html>
<html lang="en" style="height: 100%">
<head>
	<meta charset="utf-8">
	<meta name="viewport"    content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author"      content="Sergey Pozhilov (GetTemplate.com)">
	
	<title>Coming Soon html5 template by GetTemplate</title>

	<link rel="shortcut icon" href="assets/images/gt_favicon.png">
        
	<link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"> 
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700"> 
	<link rel="stylesheet" href="assets/css/styles.css">
</head>
<body style="height: 100%;">
    
<div class="container" style="margin: 1em 0em 1em 3em; width: 100%;">
    <div class="row"> 
        <div class="col-lg-4">
            <a href="{$conf->action_root}index"><img src="{$conf->app_root}/assets/images/LOGO1.png" style="border-radius: 35px;" align="center"></a>
        </div>
        <div class="col-lg-4"></div>
            <div class="col-lg-4" align="center">
                {if count($conf->roles)>0}
                <a href="{$conf->action_root}logout"><button type="submit" class="btn btn-lg btn-outline-info">Wyloguj</button></a>
                <a href="{$conf->action_root}myprofile"><button type="submit" class="btn btn-lg btn-outline-info">{$logininfo}</button></a>
                {else}
                <a href="{$conf->action_root}login"><button type="submit" class="btn btn-lg btn-outline-info">Logowanie</button></a>
                <a href="{$conf->action_root}register"><button type="submit" class="btn btn-lg btn-outline-info">Rejestracja</button></a>
                {/if}
            </div>
        
    </div>
</div>

    
<header class="header">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-push-2 center">
                            <h1> Firm wyszukiwarka</h1><br>
				<h2>Mój profil</h2>
                        </div>
                    <br>
	</div>
</header>
    
<main class="content">
<div style="width: 100%; height: 15%">   
	<section class="container">
		<div class="row">
			<div class="col-sm-10 col-sm-push-1">
                            <h1 class="text-center">Dane:</h1><br>
				<p class="lead text-center">
                                    Nazwa użytkownika: &nbsp; {$logininfo}
                                    <br>
                                    Twoje uprawnienia: &nbsp; {$roleinfo}
                                    <br>
				</p>
			</div>
		</div>
	</section>
</div>

{if ($roleinfo == "Właściciel" || $roleinfo == "Administrator")}    
<div class="col-lg-3"></div> 

<div class="col-lg-3 space-after">
    <div class="row center space-after" style="background-color: #fae6dc; border-radius: 35px; margin-top: 2.5%; width: 100%;">
    <p class="lead" align="center" style="margin-top: 5%;"> Twoje firmy: </p>
        {if $firmylista != NULL}
        <div class="messages bottom-margin" style="margin: 2%;">
        <table id="tab_firmy" class="pure-table pure-table-bordered">
        <thead>
	<tr>
		<th>Nazwa:&nbsp;</th>
		<th>Data założenia:&nbsp;</th>
                <th>Branża:&nbsp;</th>
		<th>Aktywna:&nbsp;</th>
		<th>Prywatna:&nbsp;</th>
	</tr>
        </thead>  
        <tbody>{foreach $firmylista as $fl}
        {strip}
	<tr> 
		<td>{$fl["FIRMA_NAME"]}&nbsp;</td>
		<td>{$fl["FIRMA_DZ"]}&nbsp;</td>
                <td>{$fl["FIRMA_FIELD"]}&nbsp;&nbsp;</td>
                <td>{if $fl["FIRMA_AKTYW"] == 0}tak{else}nie{/if}&nbsp;</td>
                <td>{if $fl["FIRMA_PRIV"] == 1}tak{else}nie{/if}&nbsp;</td>
        </tr>
        {/strip}{/foreach}</tbody></table></div>{else}
        <p align="center" class="small text-muted space-before"> Nie jesteś właścicielem żadnej firmy</p>
        {/if}
        <div align="center">
        <form class="form-inline space-before" role="form">
        <input type="text" class="form-control input-md" id="id_firmausun" name="firmausun" placeholder="Nazwa firmy">    
        <button type="submit" class="btn btn-lg btn-default" href="{$conf->action_url}usunfirmy/firmausun">Usuń</button>
        </form></div>
        
        
    </div>
</div>

<div class="col-lg-3 space-after">
    <div class="row center" style="background-color: #fae6dc; border-radius: 35px; margin-top: 2.5%; width: 100%;">
    <p class="lead" align="center" style="margin-top: 5%; margin-bottom: 5%;"> Nowa firma (bez polskich znaków): </p>
        <div class="featurelist bottom-margin text-center" style="margin: 2%; margin-bottom: 5%;">
        <form class="form-inline" role="form">
            {block name=messages}
            {if $msgs->isMessage()}
            <div class="messages bottom-margin" style="margin: 2%;">
                    <ul>
                    {foreach $msgs->getMessages() as $msg}
                    {strip}
                            <li class="msg {if $msg->isError()}error{/if} {if $msg->isWarning()}warning{/if} {if $msg->isInfo()}info{/if}">{$msg->text}</li>
                    {/strip}
                    {/foreach}
                    </ul><br>
            </div>
            {/if}
            {/block}
                <div class="form-group space-after"><input type="text" class="form-control input-lg" name="firmaname" id="firmaname" placeholder="Nazwa firmy"></div><br>  
		<div class="form-group space-after"><input type="text" class="form-control input-lg" name="firmainfo" id="firmainfo" placeholder="Branża"></div><br>  
                <div class="form-group space-after"><input type="text" placeholder="Data utworzenia (Y-M-D)" class="form-control input-lg" name="firmadata" id="firmadata"></div><br>  
                <div class="form-group space-after align-center">
                    <input type="checkbox" name="firmaaktyw" value="firmaaktyw" id="firmaaktyw">
                    <label for="vehicle1"> Firma nieaktywna</label><br>
                    <input type="checkbox" name="firmapriv" value="firmapriv" id="firmapriv">
                    <label for="vehicle2"> Firma prywatna </label><br>
                </div><br>
                <div class="form-group"> <button type="submit" class="btn btn-lg btn-default">Utwórz</button> </div>
		</form>   
        </div>
    </div>
</div>   

<div class="col-lg-3"></div>      
{else}
<div class="col-lg-12"><h1 align="center" style="margin-top: 8%;">Jesteś zwykłym użytkownikiem, nie masz dostępu do tworzenia firm.</h1></div>
{/if}
        
<div class="fixed-bottom static default-color" style="position: fixed; height: 20px; bottom: 0; width: 100%; background-color: #ffcdc3">
    <p class="small text-muted text-center small">
        <i style="font-family:'Open sans'"><a href="{$conf->action_root}info">INFO</a> - STOPKA - PROJEKT OPARTY NA DARMOWYM WIDOKU Z WITRYNY <a href=" https://gettemplate.com/">GETTEMPLATE.COM</a> ORAZ PROJTKU Z WITRYNY <a href=" https://kudlacik.eu/">KUDLACIK.EU</a> - <a href="{$conf->action_root}info">INFO</a> </i></p>
</div>
        
</main>
</body>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="assets/js/template.js"></script>

</body>
</html>